* {
  padding: 0px;
  margin: 0px;
  font-family: "inter", "poppins";
  font-weight: 500;
  /* box-sizing:border-box; */
}
body {
  background: rgb(250, 250, 250);
  height: 100vh;
  position: relative;
}
body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
}
body a:hover {
  color: brown;
}
.container {
  /* width: 100vh; */
  position: relative;
}
nav {
  display: flex;
  background: white;
  height: 90px;
  justify-content: space-around;
}
.logo img {
  height: 70px;
  margin-left: -30px;
  margin: 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 15px;
}
.menu ul {
  list-style: none;
  display: flex;
  font-weight: 400;
  font-size: 0.9em;
  margin-right: 100px;
}
.menu ul li {
  margin: 15px 25px;
}
.burger {
  margin-top: 25px;
  display: none;
  cursor: pointer;
  width: 30px;
  margin-right: 40px;
}
.line {
  padding: 1.5px 10px;
  background: black;
  margin: 5px;
  margin-right: 70px;
}

.menu-container {
  display: none;
  position: absolute;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  z-index: 1;
  justify-content: right;
  right: 0;
}
.menu-container h5 {
  text-align: center;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  color: black;
  font-size: 1.6em;
  /* margin-left: -10px; */
  margin: 7px 30px;
  /* padding-top: -20px; */
  cursor: pointer;
  transition: 0.4s;
}
.menu-container h5:hover {
  background: black;
  color: white;
}
.mcontent {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 15px;
}
.mcontent ul {
  list-style: none;
  margin-left: auto;
  text-align: center;
}
.mcontent ul li {
  margin: 20px;
  transition: 0.5s;
}
.mcontent ul li a {
  color: white;
}
.mcontent ul li a:hover {
  color: brown;
}

/* section .....................................------------______*/
.board-content {
  width: 80%;
  margin: auto;
  height: 300px;
  background: grey;
  display: flex;
  margin-bottom: 50px;
  border: 2px solid black;
}
.profile {
  background-image: url(/assets/imgs/download.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fill;
  background: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 30px;
}
.profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: translate(-40%, 90%);
}
.userinfo {
  /* background:blue; */
  height: 100%;
  width: 300px;
}
.username h4 {
  font-size: 1.5em;
  font-weight: 600;
  /* text-align:center; */
  margin: 80px 0px 10px 0px;
}
.fname p {
  font-size: 1em;
  /* text-align:center; */
}

.fol {
  display: flex;
}
.follow {
  display: flex;
  margin-top: 10px;
}
.follow div {
  margin-right: 14px;
}
.fol div {
  margin-right: 6px;
}
.fol .digit {
  font-weight: 700;
}
.options {
  /* background:green; */
  margin: 20px;
  margin-left: 100px;
  margin-top: 50px;
}
.cart {
  display: flex;
  background: black;
  width: 200px;
  height: 30px;
  padding: 10px 5px;
  margin-bottom: 15px;
  border-radius: 40px;
}

.cart p {
  text-align: center;
  color: grey;
}
.cart img {
  margin-left: 10px;
  filter: contrast(0);
  /*  */
}
.ca img {
  margin-right: 20px;
}
.upload img {
  height: 24px;
  width: 24px;
  filter: contrast(0);
}
.upload p {
  margin-left: 5px;
}
.purchase img {
  margin: 5px;
  margin-left: 10px;
  filter: contrast(0);
}
.purchase p {
  width: 150px;
  margin-top: 3px;
}
.settings {
  margin: 10px 10px 40px 100px;
  width: 70px;
  /* background:red; */
  display: flex;
}
.settings img {
  margin-right: 5px;
}
.lowerContent {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  /* background:red; */
  margin-bottom: 40px;
}
.lowerContent div {
  margin-right: 200px;
}
.lowerContent div h4 {
  border-bottom: 2px solid black;
  padding-right: 0px;
  font-size: 1.3em;
  font-weight: 500;
  transition: 0.4s;
  box-sizing: border-box;
  cursor: pointer;
}
.lowerContent div h4:hover {
  border-bottom: 2px solid black;
  padding-right: 15px;
}
.newsContent {
  width: 80%;
  margin: auto;
}
.rows {
  display: flex;
  margin-bottom: 30px;
  margin-right: 10px;
}
.read-row1 {
  display: flex;
  /* background: white; */
  margin: 10px;

  border-bottom: 1px solid black;
}
.read-section {
  /* display: flex; */
}
.thread-content {
  margin-top: 20px;
}
.thread-content h4 {
  font-weight: 600;
  margin-left: 20px;
}
.thread-content p {
  margin-top: 10px;
  width: 350px;
  margin-left: 20px;
}
.thread-img img {
  height: 200px;
  width: 150px;
}
.purchasedContent div {
  margin: 5px;
}
.purchasedContent div p,
.purchasedContent div h4 {
  margin-bottom: 20px;
  /* display:flex; */
  margin-left: 20px;
}
.pur {
  display: flex;
  color: white;
  background: black;
  /* width:200px; */
}
.purchasedContent div a {
  width: 150px;
  height: 50px;
  background: brown;
  border-radius: 40px;
  padding: 10px 20px;
  margin-left: 20px;
}
.purchasedContent {
  display: flex;
}
.pur-con {
  display: flex;
}
.uploadContent {
  /* width:80%; */
  /* margin:auto; */
}
/* footer /////////////////////////////////////////////////////////// */
footer {
  display: block;
  background: black;
  padding: 20px;
  color: white;
}
.footer-section1 {
  display: flex;
  justify-content: space-around;
}
.footer-section1 a {
  color: white;
}
.footer-section1 h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 5px;
}
.footer-icon {
  display: flex;
}
.footer-icon img {
  height: 22px;
  width: 22px;
  margin: 7px 6px;
}
.ficon {
  background: white;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.ficon:hover {
  background: rgb(251, 202, 167);
}
.footer-col2,
.footer-col3 {
  margin-top: 100px;
}
.footer-section2 {
  border-top: 1px solid white;
  margin-top: 15px;
  text-align: center;
  padding: 5px;
}
.footer-section2-content {
  display: flex;
  margin: auto;
  margin-left: 200px;
}
.footer-section2 p {
  text-align: center;
}
.footer-section2 img {
  height: 15px;
  width: 15px;
  /* margin: auto; */
  margin: 0px 10px 0px 300px;
}
/* REsponsiveness */
@media screen and (max-width: 1000px) {
  .logo img {
    height: 60px;
    margin-left: 20px;
    margin: 15px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 15px;
  }
  .menu ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    font-size: 0.75em;
    margin-right: 60px;
  }
  .menu ul li {
    margin: 15px 15px;
  }
}
@media screen and (max-width: 800px) {
  .menu ul {
    font-weight: 400;
    font-size: 0.68em;
  }
  .menu ul li {
    margin: 15px 10px;
  }
}
@media screen and (max-width: 650px) {
  nav {
    height: 60px;
    justify-content: space-around;
  }
  .logo img {
    height: 50px;
    margin-left: 40px;
    margin: 12px;
  }
  .menu ul {
    font-weight: 400;
    font-size: 0.62em;
  }
  .menu ul li {
    margin: 15px 5px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    height: 60px;
    justify-content: first baseline;
    position: relative;
  }
  .logo img {
    height: 50px;
    margin: 12px;
    margin-right: 100px;
    position: absolute;
    left: 0px;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    right: -20px;
    margin-bottom: 20px;
  }
}
