*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter',sans-serif;
}

nav {
    display: flex;
    background: white;
    height: 70px;
    justify-content: space-around;
  }
  .logo img {
    height: 60px;
    margin-left: -30px;
    margin: 15px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 15px;
  }
  .menu ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    font-size: 0.75em;
    margin-right: 100px;
  }
  .menu ul li {
    margin: 15px 25px;
  }
  .burger {
    margin-top: 25px;
    display: none;
  }
  .line {
    padding: 1.5px 10px;
    background: black;
    margin: 5px;
    margin-right: 70px;
  }

 #bg{
    background-image: url(../imgs/crcraft1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
 } 

 #overlay{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; 
 }


.sect1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    font-size: 80px;
    font-family: 'aclonica', sans-serif;
    color: green
}
.sect2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    font-size: 80px;
    font-family: 'aclonica', sans-serif;
    color: yellow
}
.sect3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    font-size: 80px;
    font-family: 'aclonica', sans-serif;
    color: blue
}

.section{
    display: flex;
    justify-content: center;
}

#headstart{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

#category{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
}

.aspire{
    max-width: 50ch;
    line-height: 1.5;
    font-size: 30px;
}


.btn1{
    cursor: pointer;
    flex-direction: row;
    background-color: orangered;
    color: white;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius: 5px;
}


.btn2{
    cursor: pointer;
    margin-left: 300px;
    background-color: orangered;
    color: white;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius: 5px;
    }
#once2{
    margin:auto;
    margin-top: 50px;
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 69, 0, 0.9);
}

#once{
margin: auto;
display: grid;
grid-template-columns: 1fr;
gap: 1.5 rem;
width: 300px;
background-color: rgba(255, 69, 0, 1);

} 

#once, #once2{
    display: none;
}

#name{
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 69, 0, 0.9);
}


#email{
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black; 
    background-color: rgba(255, 69, 0, 0.9); 
}


#number{
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 69, 0, 0.9);
}


#l1{
    margin-top: 20px;
    
}

#l2{
    margin-top: 50px;
    margin-left: 20px;
}

#dedicate{
    margin: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 69, 0, 0.9);
}

#hands{
    width: 40px;
    background: none;
    border: none;
    padding: none;
    cursor: pointer;
    margin-left: 200px;
    margin-top: -60px;
}