* {
  padding: 0px;
  margin: 0px;
  font-family: "inter", "poppins";
  font-weight: 500;
}
body {
  background: rgba(165, 42, 42, 0.102);
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
}
body a:hover {
  color: brown;
}
.container {
  /* width: 100vh; */
  position: relative;
}
nav {
  display: flex;
  background: white;
  height: 100px;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.logo img {
  height: 70px;
  margin-left: -30px;
  margin: 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 15px;
}
.menu ul {
  list-style: none;
  display: flex;
  font-weight: 400;
  font-size: 1em;
  margin-right: 100px;
}
.menu ul li {
  margin: 15px 25px;
}
.burger {
  margin-top: 25px;
  display: none;
}
.line {
  padding: 1.5px 10px;
  background: black;
  margin: 5px;
  margin-right: 70px;
}

.menu-container {
  display: none;
  position: absolute;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  z-index: 1;
  justify-content: right;
  right: 0;
}
.menu-container h5 {
  text-align: center;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  color: black;
  font-size: 1.6em;
  /* margin-left: -10px; */
  margin: 7px 30px;
  /* padding-top: -20px; */
  cursor: pointer;
  transition: 0.4s;
}
.menu-container h5:hover {
  background: black;
  color: white;
}
.mcontent {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 15px;
}
.mcontent ul {
  list-style: none;
  margin-left: auto;
  text-align: center;
}
.mcontent ul li {
  margin: 20px;
}

/* section */
.background {
  width: 100%;
  position: relative;
  /* background-image: url("/assets/imgs/lines2\ bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: white;
  height: 90vh;
  display: flex;
  position: relative;
  margin: 0px;
}
.lines {
  background-image: url("/assets/imgs/lines3\ bg.png");
  background-position: center;
  filter: opacity(0.2);
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 10px;
  margin: 0px;
}

.woman {
  width: 35%;
  height: 80vh;
  margin: 0px 0px 0px 80px;
  z-index: 5;

  /* background-position: center center;
  background-repeat: none;
  background-size: cover;
  background-image: none; */
  /* url(/assets/imgs/woman\ bg\ 1.svg) */
}
.woman img {
  height: 90vh;
  width: 100%;
  /* background: red; */
}
.home-content {
  margin: 100px auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: 400px;
  position: absolute;
  /* top: 0;
  left: 0; */
  text-align: center;
}
.home-content h1 {
  margin: auto;
  margin-top: 50px;
  font-family: "Aclonica", sans-serif;
  color: aliceblue;
  text-align: center;
  font-size: 4.6em;
}
.unlishing {
  font-family: "Aclonica", sans-serif;
  color: orange;
  z-index: 10;
}
.rwandan {
  font-family: "Aclonica", sans-serif;
  color: rgb(1, 255, 1);
}
.talent {
  font-family: "Aclonica", sans-serif;
  color: rgb(255, 123, 0);
}
.home-content p {
  color: black;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  margin: 30px 0px 70px 0px;
  /* background: linear-gradient(blue, yellow); */
}
.home-content a {
  text-align: center;
  margin-left: 300px;
  color: white;
  padding: 20px;
  border-radius: 40px;
  background: black;
  cursor: pointer;
  transition: 0.4s;
}
.home-content a:hover {
  background: brown;
}
/* search bar */
.search {
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 50px;
  width: 250px;
  display: flex;
}
.search img {
  height: 25px;
  margin: 3px;
}
.search input[type="text"] {
  border: none;
  margin: 5px;
  margin-left: 10px;
  background: none;
}
.search placeholder {
  margin: 5px;
  background: none;
  font-size: 1.6em;
}

/* filter */
.filter-search {
  margin-left: 20px;
  border-left: 2px solid black;
  padding-left: 20px;
}
.home-filter {
  padding-left: 20px;
  margin: auto 100px;
  align-items: center;
}
.selector {
  /* margin: 15px; */
  /* text-decoration: underline; */
  font-weight: 600;
  font-size: 1.2em;
  /* border: 1px solid black; */
  /* padding: 10px; */
  /* border-radius: 20px; */

  /* text-align: center; */
  /* color: white;
  background: black; */
}
.selector p {
}
.filter {
  display: inline-flex;
}
.ftitle {
  font-size: 1.5em;
  font-weight: 600;
  color: brown;
}
.choice {
  margin: 0px 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}
.sel {
  display: flex;
  margin: 15px;
}
.sel2 {
  width: 20px;
  height: 20px;
  background: rgb(11, 11, 11);
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 40px;
  margin-top: 0px;
}
.sel3 {
  width: 7px;
  height: 7px;
  /* background: white; */
  margin-left: 5px;
  margin-top: 3px;
  border: 3px solid rgb(255, 254, 254);
  rotate: 45deg;
  border-top: none;
  border-left: none;
  transition: 0.4s;
}
#filter1,
#filter2,
#filter3,
#filter4 {
  display: none;
}
/* picture gallery */
.gallery {
  display: block;
  margin: 50px 200px;
}
.section1 {
  display: flex;
  margin-bottom: 40px;
}
.section2 {
  display: flex;
  margin-bottom: 40px;
}
.section3 {
  display: flex;
  margin-bottom: 40px;
}
.section4 {
  display: flex;
  margin-bottom: 40px;
}
.section1 img {
  margin: 25px;
  height: 250px;
  width: 150px;
}
.photo-content {
  display: flex;
  justify-content: space-around;
}
.description {
  text-align: left;
}

.description h4 {
  font-size: 0.7em;
  font-weight: 600;
}
.description p {
  font-size: 0.7em;
  width: 200px;
}
.buy {
  font-size: 0.72em;
}
.card {
  background: rgba(255, 255, 255, 0.3);
  margin: 15px;
}
.card-photo {
  height: 220px;
  width: 280px;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  margin: 0px 10px 10px 10px;
}
.card-photo1 {
  background-image: url("/assets/imgs/one.png");
}
.card-photo2 {
  background-image: url("/assets/imgs/zebra.svg");
}
.card-photo3 {
  background-image: url("/assets/imgs/monkey.svg");
}
.card-photo4 {
  background-image: url("/assets/imgs/costa.png");
}
.card-photo5 {
  background-image: url("/assets/imgs/baby.png");
}
.card-photo6 {
  background-image: url("/assets/imgs/image\ 4.jpeg");
}
.card-photo7 {
  background-image: url("/assets/imgs/hen.png");
}
.card-photo8 {
  background-image: url("/assets/imgs/hen.png");
}
.card-photo9 {
  background-image: url("/assets/imgs/intore.jpg");
}
.card-photo10 {
  background-image: url("/assets/imgs/download.jpg");
}
.card-photo11 {
  background-image: url("/assets/imgs/Image\ 1.jpeg");
}
.card-photo12 {
  background-image: url("/assets/imgs/Image\ 2.jpeg");
}
.card-photo13 {
  background-image: url("/assets/imgs/image\ 3.jpeg");
}
.card-photo14 {
  background-image: url("/assets/imgs/craft\ 2.jpg");
}
.card-photo15 {
  background-image: url("/assets/imgs/photograpy3.jpg");
}
.card-photo16 {
  background-image: url("/assets/imgs/photograpy4.jpg");
}

.buy {
  display: flex;
}
.section1 .buy img {
  height: 35px;
}
.buy img {
  margin-right: 5px;
  height: 20px;
}
.buy div strong {
  font-weight: 600;
  margin-top: 25px;
  font-size: 1.2em;
}
.join-section {
  display: flex;
  margin: auto;
  justify-content: center;
}
.blue-cards {
  height: 200px;
  width: 150px;
  border-radius: 15px;
  background: rgba(62, 62, 239, 1);
  margin: 20px;
  display: block;
  align-items: center;
}
.blue-cards img {
  height: 200px;
  width: 200px;
  margin-left: -25px;
}
.blue-cards p {
  font-size: 0.7em;
  font-weight: 600;
  margin-top: -40px;
  text-align: center;
}
/* footer ///////////////////////////////////////*/
footer {
  display: block;
  background: rgb(9, 9, 9);
  padding: 20px;
  color: white;
}
.footer-section1 {
  display: flex;
  justify-content: space-around;
}
.footer-section1 a {
  color: white;
}
.footer-section1 h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 5px;
}
.footer-icon {
  display: flex;
}
.footer-icon img {
  height: 22px;
  width: 22px;
  margin: 7px 6px;
}
.ficon {
  background: white;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.ficon:hover {
  background: rgb(251, 202, 167);
}
.footer-col2,
.footer-col3 {
  margin-top: 100px;
}
.footer-section2 {
  border-top: 1px solid rgb(255, 255, 255);
  margin-top: 15px;
  text-align: center;
  padding: 5px;
}
.footer-section2-content {
  display: flex;
  margin: auto;
  margin-left: 200px;
}
.footer-section2 p {
  text-align: center;
}
.footer-section2 img {
  height: 15px;
  width: 15px;
  /* margin: auto; */
  margin: 0px 10px 0px 300px;
}
/* REsponsiveness */
@media screen and (max-width: 1000px) {
  .logo img {
    height: 60px;
    margin-left: 20px;
    margin: 15px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 15px;
  }
  .menu ul {
    list-style: none;
    display: flex;
    font-weight: 400;
    font-size: 0.75em;
    margin-right: 60px;
  }
  .menu ul li {
    margin: 15px 15px;
  }
}
@media screen and (max-width: 800px) {
  .menu ul {
    font-weight: 400;
    font-size: 0.68em;
  }
  .menu ul li {
    margin: 15px 10px;
  }
}
@media screen and (max-width: 650px) {
  nav {
    height: 60px;
    justify-content: space-around;
  }
  .logo img {
    height: 50px;
    margin-left: 40px;
    margin: 12px;
  }
  .menu ul {
    font-weight: 400;
    font-size: 0.62em;
  }
  .menu ul li {
    margin: 15px 5px;
  }
}
@media screen and (max-width: 400px) {
  nav {
    height: 60px;
    justify-content: first baseline;
    position: relative;
  }
  .logo img {
    height: 50px;
    margin: 12px;
    margin-right: 100px;
    position: absolute;
    left: 0px;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    right: -20px;
    margin-bottom: 20px;
  }
}
